name: deploy-preview
on:
  workflow_call:
  pull_request:
    types:
      - opened
      - synchronize
jobs:
  test:
    uses: ./.github/workflows/test.yml
  smart-camera-web:
    needs:
      - test
    defaults:
      run:
        working-directory: ./packages/smart-camera-web
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v4
      - name: set node version
        uses: actions/setup-node@v4
        with:
          cache: 'npm'
          cache-dependency-path: package-lock.json
      - name: install dependencies
        run: npm ci
      - name: build application
        run: npm run build
      - name: set destination directory
        id: set_dest_dir_smart_camera_web
        run: >-
          echo "DEST_DIR_SMART_CAMERA_WEB=js/preview-$GITHUB_HEAD_REF" >>
          "$GITHUB_ENV"
      - name: deploy preview to s3
        uses: jakejarvis/s3-sync-action@v0.5.1
        with:
          args: >-
            --follow-symlinks --delete --exclude '*' --include
            'smart-camera-web.js'
        env:
          AWS_S3_BUCKET: '${{ secrets.AWS_S3_BUCKET }}'
          AWS_ACCESS_KEY_ID: '${{ secrets.AWS_ACCESS_KEY_ID }}'
          AWS_SECRET_ACCESS_KEY: '${{ secrets.AWS_SECRET_ACCESS_KEY }}'
          AWS_REGION: '${{ secrets.AWS_REGION }}'
          SOURCE_DIR: ./packages/smart-camera-web
          DEST_DIR: '${{ env.DEST_DIR_SMART_CAMERA_WEB }}'
  embed:
    needs:
      - test
    defaults:
      run:
        working-directory: ./packages/embed
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v4
      - name: set node version
        uses: actions/setup-node@v4
        with:
          cache: 'npm'
          cache-dependency-path: package-lock.json
      - name: install dependencies
        run: npm ci
      - name: build application
        run: 'npm run build && npm run build:dist'
      - name: set destination directory
        id: set_dest_dir_hosted_web
        run: echo "DEST_DIR_EMBED=inline/preview-$GITHUB_HEAD_REF" >> "$GITHUB_ENV"
      - name: deploy preview to s3
        uses: jakejarvis/s3-sync-action@v0.5.1
        with:
          args: '--follow-symlinks --delete'
        env:
          AWS_S3_BUCKET: '${{ secrets.AWS_S3_BUCKET }}'
          AWS_ACCESS_KEY_ID: '${{ secrets.AWS_ACCESS_KEY_ID }}'
          AWS_SECRET_ACCESS_KEY: '${{ secrets.AWS_SECRET_ACCESS_KEY }}'
          AWS_REGION: '${{ secrets.AWS_REGION }}'
          SOURCE_DIR: ./packages/embed/dist
          DEST_DIR: '${{ env.DEST_DIR_EMBED }}'
