name: lint
on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:
jobs:
  lint-components:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./packages/components
    steps:
      - name: checkout code
        uses: actions/checkout@v4
      - name: set node version
        uses: actions/setup-node@v3
        with:
          node-version-file: .nvmrc
          cache: npm
          cache-dependency-path: ./packages/components/package-lock.json
      - name: install dependencies
        run: npm ci
      - name: lint
        run: npm run lint
  lint-embed:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./packages/embed
    steps:
      - name: checkout code
        uses: actions/checkout@v4
      - name: set node version
        uses: actions/setup-node@v3
        with:
          node-version-file: .nvmrc
          cache: npm
          cache-dependency-path: ./packages/embed/package-lock.json
      - name: install dependencies
        run: npm ci
      - name: lint html
        run: npm run lint:html
