name: share-preview-url
on:
  pull_request:
    types:
      - opened
      - ready_for_review
jobs:
  comment-on-pr:
    runs-on: ubuntu-latest
    permissions: write-all
    steps:
      - name: checkout code
        uses: actions/checkout@v4
      - name: get dest dir for web smart-camera-web
        id: get_dest_dir_smart_camera_web
        working-directory: ./packages/smart-camera-web
        run: >-
          echo "DEST_DIR_SMART_CAMERA_WEB=js/preview-$GITHUB_HEAD_REF" >>
          "$GITHUB_ENV"
      - name: get dest dir for web embed
        id: get_dest_dir_embed
        working-directory: ./packages/embed
        run: echo "DEST_DIR_EMBED=inline/preview-$GITHUB_HEAD_REF" >> "$GITHUB_ENV"
      - name: share preview urls as PR comment
        uses: unsplash/comment-on-pr@master
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
        with:
          msg: >
            This branch has been deployed to s3 / cloudfront.


            ✅ Preview URL for Smart Camera Web:

            https://cdn.smileidentity.com/${{ env.DEST_DIR_SMART_CAMERA_WEB }}/smart-camera-web.js

            ✅ Preview URL for Embed: 

            https://cdn.smileidentity.com/${{ env.DEST_DIR_EMBED }}/js/script.min.js
